<div class="container mt-4">

  <div class="alert alert-success" role="alert" *ngIf="showAlertSuccess">
    {{ alertMgSuccess }}
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="showAlertDanger">
    {{ alertMgDanger }}
  </div>

  <div class="row mb-4">
    <div class="col-md-6">
      <div
        class="alert"
        style="background-color:{{ cliStatusColor }}"
      >
        CLI Status: {{ cliStatus ? 'Running' : 'Stopped' }}
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="alert"
        style="background-color:{{ systemStatusColor }}"
      >
        System Status: {{ systemStatus ? 'Running' : 'Stopped' }}
      </div>
    </div>
  </div>

  <!-- Params -->
<div class="row mb-4">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body text-center">
        <h5>Total Tickets</h5>
        <p class="card-text">{{ totalTickets }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body text-center">
        <h5>Ticket Release Rate (ms)</h5>
        <p class="card-text">{{ ticketReleaseRate }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body text-center">
        <h5>Customer Retrieval Rate (ms)</h5>
        <p class="card-text">{{ customerRetrievalRate }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body text-center">
        <h5>Max Ticket Capacity</h5>
        <p class="card-text">{{ maxTicketCapacity }}</p>
      </div>
    </div>
  </div>
</div>


  <!-- Form Section -->
  <form class="status-form fm" [formGroup]="form" (ngSubmit)="updateData()">
    <div class="form-group bx">
      <div class="input-group mb-3">
        <span class="input-group-text">Total Tickets</span>
        <input formControlName="totalTickets" type="text" class="form-control" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
    <div class="form-group bx">
      <div class="input-group mb-3">
        <span class="input-group-text">Ticket Release Rate</span>
        <input formControlName="ticketReleaseRate" type="text" class="form-control" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
    <div class="form-group bx">
      <div class="input-group mb-3">
        <span class="input-group-text">Customer Retrieval Rate</span>
        <input formControlName="customerRetrievalRate" type="text" class="form-control" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
    <div class="form-group bx">
      <div class="input-group mb-3">
        <span class="input-group-text">Max Ticket Capacity</span>
        <input formControlName="maxTicketCapacity" type="text" class="form-control" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
<!--    <div class="form-group">-->
<!--      <div class="input-group mb-3">-->
<!--        <span class="input-group-text">System status</span>-->
<!--        <input type="text" class="form-control" aria-label="Sizing example input"-->
<!--               aria-describedby="inputGroup-sizing-default">-->
<!--      </div>-->
<!--    </div>-->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
